<div th:fragment="navbar">
    <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Parts</a>
                    <a class="nav-link" href="#">Vendors</a>
                    <a class="nav-link" href="#">Products</a>
                </div>
            </div>
        </div>
    </nav>
</div>